<manifest package="com.gjcamera"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.hardware.camera2.full" />

</manifest>
